.contenedor-proyectos{
    width: 95%;
    margin: 10px auto;
    overflow: auto;
}
.form-circular{
    position: relative;
    color: #fff;
}
.form-circular .submit-circular{
     position: absolute;
     top: 0px;
     width: 100%;
     cursor: pointer;
     left: 0px;
     border-radius: 100%;
     height: 100%;
     opacity: 0;
     color: #fff;
 }
 .form-pagina{
    display:inline-block;
 }
 .form-pagina-active{
    display:inline-block;
    background: rgb(16, 32, 49);
    border-radius: 5px;
 }

.notificadorError{
    width: 100%;
    font-size: 15px;
    background: #C70000;
    display: block;
    margin-top: 86px;
    color: #fff;
    margin: -20px 0px 10px 0px;
    text-align: center;
}
.notificadorExito{
    width: 100%;
    font-size: 15px;
    background: #1B9627;
    display: block;
    margin: -20px 0px 10px 0px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    text-align: center;
}
 .valor-contenedor{
    line-height: 28px;
    background: #DEE4E5;
    border-radius: 3px;
    padding: 2px 10px;
 }
 .valor-contenedor .valor{
    color: #BA3450;
    font-size: 1.5em;
 }