@(formProyecto: Form[Proyecto])
@import helper._
@templates.privado.mainPrivado("Blackboard") {
    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-ltr">
            <h2>Crear nuevo proyecto</h2>
            <div class="side pull-right">
                <ul class="buttons">
                    <li><a href="#" class="widget-icon widget-icon-" title="Crear nuevo proyecto"><span class="icon-plus"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="content list">
            <div class="row mix-grid thumbnails">
                <div class="contenedor-proyectos">
                    <div class="block block-drop-shadow">
                        @form(routes.ProyectosController.guardarProyecto()){
                        <div class="content controls">
                            <div class="form-row">
                                <div class="col-md-3">Título:</div>
                                <div class="col-md-9">
                                    <input  maxlength="250" required="required"
                                        name="titulo" type="text" class="form-control" value="@formProyecto.data.get("titulo")">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">Descripción:</div>
                                <div class="col-md-9">
                                    <textarea  maxlength="250" required="required" name="descripcion" class="form-control">@formProyecto.data.get("descripcion")</textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">Valor:</div>
                                <div class="col-md-9">
                                    <input min="1" max="9999999999" step="0.01" required="required" name="valor" type="number" class="form-control ui-spinner-input" value="@formProyecto.data.get("valor")" aria-valuemin="0" aria-valuemax="2500" aria-valuenow="0" autocomplete="off" role="spinbutton">
                                </div>
                            </div>
                        </div>
                        <div class="footer tar">
                            <input type="submit" value="Guardar" class="btn btn-default btn-clean"></input>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}