@(paginacionProyecto:PaginacionDTO,lstProyectos: List[Proyecto])
@import helper._
@templates.privado.mainPrivado("Blackboard") {
    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-ltr">
            <h2>Mis Proyectos</h2>
            <div class="side pull-right">
                <ul class="buttons">
                    <li><a href="@routes.ProyectosController.crearProyecto()" class="widget-icon widget-icon-" title="Crear nuevo proyecto"><span class="icon-plus"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="content list">
            <div class="row mix-grid thumbnails">
                <div class="contenedor-proyectos">
                    @for(proyecto <- lstProyectos){
                    <div class="col-md-4 col-xs-12 mix cat_nature cat_all">
                        <div class="block block-drop-shadow">
                            <div class="header">
                                <h2>@proyecto.getTitulo</h2>
                                <div class="pull-right" style="width: 200px;">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                        <input type="text" readonly="readonly" class="datetimepicker form-control hasDatepicker" value="@proyecto.getFechaPublicacionFormateada">
                                    </div>
                                </div>
                            </div>
                            <div class="content list">
                                <div class="list-item">
                                    <div class="list-datetime" style="width: 120px;">
                                        <div class="date">@proyecto.getEstado.getTitulo</div>
                                    </div>
                                    <div class="list-controls" style="width: 120px;">

                                        <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId,1)" method="GET" class="widget-icon widget-icon-circle form-circular">
                                            <span class="icon-picture"></span>
                                            <input type="submit" class="submit-circular" title="Ver diseños"/>
                                        </form>

                                        <form action="@routes.ProyectosController.detalle(proyecto.getId)" method="GET" class="widget-icon widget-icon-circle form-circular">
                                            <span class="icon-pencil"></span>
                                            <input type="submit" class="submit-circular"/>
                                        </form>
                                        @if(proyecto.contarDisenos(proyecto.getId)==0){
                                            @form(routes.ProyectosController.eliminar(proyecto.getId), 'class -> "widget-icon widget-icon-circle form-circular"){
                                            <span class="icon-remove"></span>
                                            <input type="submit" class="submit-circular" onclick="return confirm('Realmente desea eliminar el proyecto @proyecto.getTitulo');" />
                                            }
                                        }
                                    </div>
                                    <div class="list-text">
                                        <p>@proyecto.getDescripcion</p>
                                    </div>
                                </div>
                                <div class="footer footer-defaut tac">
                                    <div class="pull-left" style="width: 200px;">
                                        <div class="input-group valor-contenedor">
                                            <div class="list-text-name valor">@proyecto.getValor</div>
                                        </div>
                                    </div>
                                    <div class="pull-right" >
                                        Cantidad de diseños: @proyecto.contarDisenos(proyecto.getId)

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="footer footer-defaut tac">
                <div class="pull-left">
                    Registros: @paginacionProyecto.getRegistros
                </div>
                @if(paginacionProyecto.getPaginas>1){
                <ul class="pagination pagination-sm pull-right" style="margin: 0px;">
                   @if((paginacionProyecto.getPaginaActual-1) > 1){
                   <div class="form-pagina">
                       <input type="button" value="«" />
                   </div>
                   }
                   @if(paginacionProyecto.getPaginaActual > 1){
                    <form action="@routes.ProyectosController.proyectosEntidad((paginacionProyecto.getPaginaActual-1))" method="GET" class="form-pagina">
                        <input type="submit" value="@(paginacionProyecto.getPaginaActual-1)" />
                    </form>
                    }

                    <form action="@routes.ProyectosController.proyectosEntidad(paginacionProyecto.getPaginaActual)" method="GET" class="form-pagina-active">
                        <input type="submit" value="@paginacionProyecto.getPaginaActual" />
                    </form>

                    @if(paginacionProyecto.getPaginaActual < paginacionProyecto.getPaginas){

                    <form action="@routes.ProyectosController.proyectosEntidad((paginacionProyecto.getPaginaActual+1))" method="GET" class="form-pagina">
                        <input type="submit" value="@(paginacionProyecto.getPaginaActual+1)" />
                    </form>
                    }
                    @if((paginacionProyecto.getPaginaActual+1) < paginacionProyecto.getPaginas){
                    <div class="form-pagina">
                        <input type="button" value="»" />
                    </div>
                    }
                </ul>
                }

            </div>
        </div>
    </div>



}