<!-- page footer -->
<div class="page-footer">
    <!-- page footer wrap -->
    <div class="page-footer-wrap bg-darken-gray">
        <!-- page footer holder -->
        <div class="page-footer-holder">
          <!-- copyright -->
            <div class="copyright">
                &copy; 2016 StarsCompetition All Rights Reserved
            </div>
        </div>
        <!-- ./page footer holder -->
    </div>
    <!-- ./page footer wrap -->
</div>
<!-- ./page footer -->
