<!-- page header -->
<div class="page-header">

    <!-- page header holder -->
    <div class="page-header-holder">

        <!-- page logo -->
        <div class="logo">
            <a href="index">Stars - Competition</a>
        </div>
        <!-- ./page logo -->

        <!-- nav mobile bars -->
        <div class="navigation-toggle">
            <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
        </div>
        <!-- ./nav mobile bars -->

        <!-- navigation -->
        <ul class="navigation">
            <li>
                <a href="@routes.HomeController.index()">Inicio</a>
            </li>
            <li>
                <a href="@routes.HomeController.verDesarrolladores()">Desarrolladores</a>
            </li>
            <li>
                <a href="@routes.RegistroController.verForm()">Registro</a>
            </li>
            <li>
                <a href="@routes.LoginController.verForm()">Login</a>
            </li>
        </ul>
        <!-- ./navigation -->
    </div>
    <!-- ./page header holder -->
</div>
@if(flash.containsKey("error")){
<div class="notificadorError">
    <strong>Error: </strong> @flash.get("error")
</div>
}
@if(flash.containsKey("success")){
<div class="notificadorExito">
    <strong>Exito: </strong> @flash.get("success")
</div>
}