@(proyecto: Proyecto, paginacionDisenos: PaginacionDTO, lstDisenos: List[Diseno])
@import helper._
<div class="block block-drop-shadow">

    <div class="head bg-default bg-light-ltr">
        <h2>Diseños postulados</h2>
        <div class="side pull-right">
            <ul class="buttons">
                <li><a href="@routes.ProyectosController.crearProyecto()" class="widget-icon widget-icon-" title="Crear nuevo proyecto"><span class="icon-plus"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="content list">
        <div class="row mix-grid thumbnails">
            <div class="contenedor-proyectos">
            @for(diseno <- lstDisenos) {
                <div class="col-md-4 col-xs-12 mix cat_nature cat_all">
                    <div class="block block-drop-shadow">
                        <div class="header">
                            <h2>@diseno.getFechaSubida</h2>
                        </div>
                        <div class="content list">
                            <div class="list-item">
                                <div class="list-item">
                                    <div class="list-datetime" style="height:40px ;">
                                        <div class="date">@diseno.getEstado.getTitulo</div>
                                    </div>
                                    <div class="list-controls" style="width: 50px ;">

                                        <form action="@routes.DisenosController.listarPorProyecto(diseno.getId, 1)" method="GET" class="widget-icon widget-icon-circle form-circular">
                                            <span class="icon-picture"></span>
                                            <input type="submit" id="id_disen" class="submit-circular" title="Ver diseños"/>
                                            <input type="submit" class="submit-circular" title="Ampliar diseño"/>
                                        </form>
                                    </div>

                                </div>

                                <div class="list-item">
                                    <div href="#" class="list-text">
                                        <strong>Usuario: </strong> @diseno.getNombre @diseno.getApellidos
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div href="#" class="list-text">
                                        <strong>Contácto: </strong> @diseno.getEmail
                                    </div>
                                </div>
                                <div class="list-item" style="height: 400px ;">
                                    <img src="@diseno.getEncode" style="width: 100% ; height: 100% ;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
        <div class="footer footer-defaut tac">
            <div class="pull-left">
                Registros: @paginacionDisenos.getRegistros
            </div>
            <ul class="pagination pagination-sm pull-right" style="margin: 0px ;">
                <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId, 1)" method="POST" class="form-pagina">
                    <input type="submit" value="«" />
                </form>
                <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId, 1)" method="POST" class="form-pagina">
                    <input type="submit" value="1" />
                </form>
                <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId, 1)" method="POST" class="form-pagina active">
                    <input type="submit" value="2" />
                </form>
                <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId, 1)" method="POST" class="form-pagina">
                    <input type="submit" value="»" />
                </form>
            </ul>
        </div>
    </div>
</div>




