@templates.privado.mainPrivado("Blackboard") {
    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-ltr">
            <h2>Panel de administración</h2>
            <div class="head-panel nm">
                <div class="left_abs_100" style="margin-top: 20px;">
                    Bienvenido
                </div>

            </div>
        </div>
        <div class="footer footer-defaut tac">


        </div>
    </div>
}