@(proyecto:Proyecto,paginacionDisenos:PaginacionDTO,lstDisenos: List[Diseno])
@import helper._
@templates.privado.mainPrivado("Blackboard") {
    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-ltr">
            <h2>Proyecto</h2>
        </div>
        <div class="content list">
            <div class="row mix-grid thumbnails">
                <div class="contenedor-proyectos">
                    <div class="block block-drop-shadow">
                        <div class="content controls">
                            <div class="form-row">
                                <div class="col-md-3">Título:</div>
                                <div class="col-md-9">
                                    <input readonly="readonly" class="form-control" value='@proyecto.getTitulo'>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">Descripción:</div>
                                <div class="col-md-9">
                                        <textarea readonly="readonly" class="form-control">@proyecto.getDescripcion</textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">Valor:</div>
                                <div class="col-md-9">
                                    <input readonly="readonly" class="form-control ui-spinner-input" value='@proyecto.getValor' role="spinbutton">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-drop-shadow">

        <div class="head bg-default bg-light-ltr">
            <h2>Diseños postulados</h2>
        </div>
        <div class="content list">
            <div class="row mix-grid thumbnails">
                <div class="contenedor-proyectos">
                    @for(diseno <- lstDisenos){
                    <div class="col-md-4 col-xs-12 mix cat_nature cat_all">
                        <div class="block block-drop-shadow">
                            <div class="header">
                                <h2>@diseno.getFechaSubidaFormateada</h2>
                            </div>
                            <div class="content list">
                                <div class="list-item">
                                    <div class="list-item">
                                        <div class="list-datetime" style="height:40px;width: 120px;">
                                            <div class="date">@diseno.getEstado.getTitulo</div>
                                        </div>
                                        @if(diseno.getEstado.getId==2){

                                            <div class="list-controls" style="width: 50px;">
                                                <form class="widget-icon widget-icon-circle form-circular" >
                                                    <span class="icon-picture"></span>
                                                    <button class="submit-circular detallarDiseno" title="Ver diseños"/>
                                                    <input type="hidden" value="@diseno.getEncode"/>
                                                </form>
                                            </div>
                                        }
                                    </div>

                                    <div class="list-item">
                                        <div href="#" class="list-text">
                                            <strong>Usuario: </strong>@diseno.getNombre @diseno.getApellidos
                                        </div>
                                    </div>
                                    <div class="list-item">
                                        <div href="#" class="list-text">
                                            <strong>Contácto: </strong>@diseno.getEmail
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="footer footer-defaut tac">
                <div class="pull-left">
                    Registros: @paginacionDisenos.getRegistros
                </div>
                @if(paginacionDisenos.getPaginas>1){
                <ul class="pagination pagination-sm pull-right" style="margin: 0px;">
                    @if((paginacionDisenos.getPaginaActual-1) > 1){
                    <div class="form-pagina">
                        <input type="button" value="«" />
                    </div>
                    }
                    @if(paginacionDisenos.getPaginaActual > 1){
                    <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId,(paginacionDisenos.getPaginaActual-1))" method="GET" class="form-pagina">
                        <input type="submit" value="@(paginacionDisenos.getPaginaActual-1)" />
                    </form>
                    }

                    <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId,paginacionDisenos.getPaginaActual)" method="GET" class="form-pagina-active">
                        <input type="submit" value="@paginacionDisenos.getPaginaActual" />
                    </form>

                    @if(paginacionDisenos.getPaginaActual < paginacionDisenos.getPaginas){

                    <form action="@routes.DisenosController.listarPorProyecto(proyecto.getId,(paginacionDisenos.getPaginaActual+1))" method="GET" class="form-pagina">
                        <input type="submit" value="@(paginacionDisenos.getPaginaActual+1)" />
                    </form>
                    }
                    @if((paginacionDisenos.getPaginaActual+1) < paginacionDisenos.getPaginas){
                    <div class="form-pagina">
                        <input type="button" value="»" />
                    </div>
                    }
                </ul>
                }

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Preview Diseño</h4>
                            </div>
                            <div class="modal-body">
                                <img src="" id="imgPreview" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready( function () {
                        $(".detallarDiseno").click(function(e) {
                            e.preventDefault();
                            var contenedor = this;
		                    var contenedorForm = contenedor.parentElement;
		                    var lstInput = contenedorForm.getElementsByTagName("input");
		                    var imagenCode = lstInput[0].value;

                            $('#myModal').modal('show');
                            $("#imgPreview").attr("src", imagenCode);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}