<div class="block block-drop-shadow">
    <div class="user bg-default bg-light-rtl">
        <div class="info">
            <img src="@routes.Assets.versioned("admin/img/user.jpg")" class="img-circle img-thumbnail"/>
            <br></br>
            <div style="width: 100%; text-align: center;">
                @session.get("entidad")
            </div>
        </div>
    </div>
    <div class="content list-group list-group-icons">
        <a href="@routes.LoginController.salir()" class="list-group-item"><span class="icon-off"></span>Salir<i class="icon-angle-right pull-right"></i></a>
    </div>
</div>