<nav class="navbar brb" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-reorder"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="@routes.HomeController.index()">
                    <span class="icon-globe"></span> Web Publica
                </a>
            </li>
            <li class="active">
                <a href="@routes.HomePrivadoController.index()">
                    <span class="icon-home"></span> Home Blackboard
                </a>
            </li>
            <li class="active">
                <a href="@routes.ProyectosController.proyectosEntidad(1)">
                    <span class="icon-picture"></span> Proyectos
                </a>
            </li>
            <li class="active">
                <a href="/publico/empresas/@session.get("url")/proyectos/1">
                    <span class="icon-meh"></span> Ver mi Url publica
                </a>
            </li>
        </ul>
    </div>
</nav>
@if(flash.containsKey("error")){
<div class="notificadorError">
    <strong>Error: </strong> @flash.get("error")
</div>
}
@if(flash.containsKey("success")){
<div class="notificadorExito">
    <strong>Exito: </strong> @flash.get("success")
</div>
}