@templates.publico.mainPublico("Iniciar Sesión") {

<div class="page-content">

	<!-- page content wrapper -->
	<div class="page-content-wrap">
		<!-- page content holder -->
		<div class="page-content-holder">

			<div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
				<h2 class="heading-underline">Bienvenido a Stars Competition</h2>
				<div class="block-heading-text">
					Stars Competition es la plataforma de proyectos en línea que relaciona tanto a empresas que buscan talento innovador para el diseño de sus proyectos
					como Jovenes y veretanos diseñadores con ganas de mostrarle al mundo su talento.
				</div>
			</div>

		</div>
		<!-- ./page content holder -->
	</div>
	<!-- ./page content wrapper -->


	<!-- page content wrapper -->
	<div class="page-content-wrap">

		<div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		<!-- page content holder -->
		<div class="page-content-holder">

			<div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
				<h2 class="heading-underline">Conoce nuestro equipo</h2>
				<div class="block-heading-text">
					Personal especializado en ciencias de la computacion y tecnologias de vanguardia, convertiran tu día a día en un ambito lleno de oportunidades y grandes experiencias
				</div>
			</div>

			<div class="row">

				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
						<div class="text-column-image">
							<img src="@routes.Assets.versioned("img/carlos.png")" alt="Dmitry Ivaniuk" class="img-circle">
						</div>
						<h5>Carlos Zubieta</h5>
						<div class="text-column-subtitle">Lider de proyectos - Desarrollador andriod</div>
						<div class="text-column-info">
							Ing. Mecatrónico - Universidad Militar Nueva Granada.
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
						<div class="text-column-image">
							<img src="@routes.Assets.versioned("img/Servio.png")" alt="Dmitry Ivaniuk" class="img-circle">
						</div>
						<h5>Servio Pantoja</h5>
						<div class="text-column-subtitle">Desarrollador - Adicto a Java y al desarrollo Ágil</div>
						<div class="text-column-info">
							Ing. Sistemas U.I. CESMAG
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
						<div class="text-column-image">
							<img src="@routes.Assets.versioned("img/juvenal.jpg")" alt="Dmitry Ivaniuk" class="img-circle">
						</div>
						<h5>Juvenal Elias Barrios</h5>
						<div class="text-column-subtitle">Desarrollador Abap - Oracle SOA Suite Consulting</div>
						<div class="text-column-info">
							Esp. Ingeniería del Software - Universidad Distrital Francisco José de Caldas.
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- ./page content holder -->
	</div>
	<!-- ./page content wrapper -->

	<!-- page content wrapper -->
	<div class="page-content-wrap bg-light">

		<div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		<!-- page content holder -->
		<div class="page-content-holder">

			<div class="row">

				<div class="col-md-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
						<div class="text-column-icon">
							<span class="fa fa-star"></span>
						</div>
						<h4>Compromiso</h4>
						<div class="text-column-info">
							Estamos comprometidos orientando nuestra labor hacia el ambito investigativo junto a la aplicación de últimas tecnologias, con el fin de brindar nuevas oportunidades de negocio.
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
						<div class="text-column-icon">
							<span class="fa fa-hand-o-up"></span>
						</div>
						<h4>Experiencia</h4>
						<div class="text-column-info">
							Los retos ágiles han favorecido al trabajo en equipo, manteniendo nuestros canales y mejorando los procesos de comunicación interdisciplinaria; así se ha adoptado una fuerte cultura organizacional en toda nuestra institución.
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
						<div class="text-column-icon">
							<span class="fa fa-clock-o"></span>
						</div>
						<h4>Innovación</h4>
						<div class="text-column-info">
							La aplicación interna de metodologías y modelos de proceso en toda la organización, son la base mas sólida para todo lo relacionado al ámbito investigativo.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./page content holder -->
	</div>
	<!-- ./page content wrapper -->

</div>
}