@(message: String)

@templates.publico.mainPublico("Welcome to Play") {

<div class="page-content">

   <!-- page content wrapper -->
   <div class="page-content-wrap bg-img-2 light-elements">
      <!-- page content holder -->
      <div class="page-content-holder">

         <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
            <h2><strong>Stars Competition</strong> &mdash; Marketing Manager Service for all enterprice community</h2>
            <div class="block-heading-text">
               Una completa y eficaz gestion de proyectos de Marketing totalmente disponible y al servicio de toda la comunidad empresarial
            </div>
         </div>

         <div class="block push-up-20">
            <div class="row">
               <div class="col-md-4">
                  <br></br><br></br><br></br>
                  <div class="text-column this-animate" data-animate="fadeInLeft">
                     <h4>Soy empresa: Ahora su proyecto es internacional</h4>
                     <div class="text-column-info">
                        Stars Competition, garantiza una completa y eficaz gestión de proyectos publicos para todo tipo de usuarios.
                     </div>
                  </div>
                  <div class="text-column this-animate" data-animate="fadeInLeft">
                     <h4>Soy diseñador : Mas oportunidades</h4>
                     <div class="text-column-info">
                        Comparte tu talento en todo mundo en proyectos internacionales.
                     </div>
                  </div>

               </div>
               <div class="col-md-8 text-center this-animate" data-animate="fadeInRight">
                  <img src="@routes.Assets.versioned("img/diseno.png")" class="img-responsive-mobile" style="width: 90%;"/>
               </div>
            </div>
         </div>

      </div>
      <!-- ./page content holder -->
   </div>
   <!-- ./page content wrapper -->

   <!-- page content wrapper -->
   <div class="page-content-wrap bg-light">
      <!-- page content holder -->
      <div class="page-content-holder padding-v-20">

         <div class="text-center">
            <a href="@routes.RegistroController.verForm()" class="btn btn-success btn-xl"><span class="fa fa-shopping-cart"></span> Acceder</a>
         </div>

      </div>
      <!-- ./page content holder -->
   </div>
   <!-- ./page content wrapper -->

   <!-- page content wrapper -->
   <div class="page-content-wrap bg-img-1">

      <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

      <!-- page content holder -->
      <div class="page-content-holder">

         <div class="row">
            <div class="col-md-8 this-animate" data-animate="fadeInLeft">

               <div class="block-heading block-heading-centralized">
                  <h2 class="heading-underline">Portafolio de Servicios y valores agregados</h2>
                  <div class="block-heading-text">
                     <p><strong>Gestión de Diseños:</strong> Suba sus propuesta de diseño a los diferentes proyectos existes</p>
                     <p><strong>Gestión de Proyectos empresariales:</strong>  Como empresa suba sus proyectos y reciba las mejores propuestas de diseño</p>
                     <p><strong>Innovación/Entorno Empresarial:</strong>  Gestión rapida, efectiva y permanete</p>
                  </div>
               </div>
            </div>
            <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
               <img src="@routes.Assets.versioned("img/servicios.png")" class="img-responsive-mobile"  style="width: 90%;"/>
            </div>
         </div>



      </div>
      <!-- ./page content holder -->
   </div>
   <!-- ./page content wrapper -->

   <!-- page content wrapper -->
   <div class="page-content-wrap bg-texture-1 bg-dark light-elements">
      <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
   </div>
   <!-- ./page content wrapper -->

   <!-- ./page content wrapper -->
</div>
<!-- ./page content -->

}
