@(formulario: Form[RegistroDTO])
@import helper._
@templates.publico.mainPublico("Registro de usuario") {

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<div class="page-content">

	<!-- page content wrapper -->
	<div class="page-content-wrap bg-img-1">

		<div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>

		<!-- page content holder -->
		<div class="page-content-holder">

			<div class="row">
				<div class="col-md-12">
					<div class="login-container" style="margin-bottom: 350px;">
						@form(routes.RegistroController.registrar()){

						<div class="login-block">
							<div class="block block-transparent">
								<div class="content controls npt">
									<div class="form-row">
										<div class="col-md-12">
											<div class="header-login">
												Registro de Empresa
											</div>
										</div>
									</div>
								</div>
								<div class="registration-block">
									<div class="block block-transparent">
										<div class="content controls npt">
											<div class="form-row">
												<div class="col-md-12">
													<div class="input-group">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-user"></span>
														</div>
														<input maxlength="250" required="required"
															   name="empresa" value="@formulario.data.get("empresa")" type="text" placeholder="Nombre de su empresa" class="form-control"/>
													</div>
												</div>
											</div>
											<div class="form-row" style="margin-top: 10px;">
												<div class="col-md-12">
													<div class="input-group">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-envelope"></span>
														</div>
														<input maxlength="250" required="required"
															   name="correo" type="email" value="@formulario.data.get("correo")" type="text" placeholder="E-mail" class="form-control"/>
													</div>
												</div>
											</div>
											<div class="form-row">
												<div class="col-md-12">
													<div class="input-group">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-lock"></span>
														</div>
														<input maxlength="250" required="required"
															   name="contrasena" value="@formulario.data.get("contrasena")" type="password" placeholder="Password" class="form-control"/>
													</div>
												</div>
											</div>
											<div class="form-row">
												<div class="col-md-12">
													<div class="input-group">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-lock"></span>
														</div>
														<input maxlength="250" required="required"
															   name="confirmaContrasena" value="@formulario.data.get("confirmaContrasena")" type="password" placeholder="Repetir Password" class="form-control"/>
													</div>
												</div>
											</div>
											<div class="form-row">
												<div class="col-md-12">
													<input type="submit" value="Registrar" class="btn btn-default btn-block btn-info"></input>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
		<!-- ./page content holder -->
	</div>
	<!-- ./page content wrapper -->
</div>
<!-- ./page content -->

}
