body {
	font-size: 16px;
}
.contenedorProyectos{
    text-align: center;
}
.contenedorProyecto{
    overflow: auto;
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width:100%;
    margin:10px 5px;
}
.contenedorProyecto .headerProyecto{
    background: #0057A0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
}
.contenedorProyecto .contenedorDisenos{
    padding: 15px 5px;
    margin: 15px 5px 5px 5px;
    border-top: 5px solid #0057A0;
}
.header-login{
    background:#222222;
    color:#ccc;
    padding:15px 5px;
    border-radius:5px;
    margin:0px 0px 10px 0px;
    text-align:center;
    font-size:1.6em;
}
.login-container {
    margin: 100 auto 100px auto;
	max-width: 500px;
	width: 100%;
	border: 1px solid #ddd;
    box-shadow: 4px 5px 5px 5px #ccc;
    overflow: auto;
    padding: 15px 0px;
    border-radius: 10px;
}
.notificadorError{
    width: 100%;
    font-size: 15px;
    background: #C70000;
    display: block;
    margin-top: 86px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    text-align: center;
}
.notificadorExito{
    width: 100%;
    font-size: 15px;
    background: #1CA829;
    display: block;
    margin-top: 86px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    text-align: center;
}
.page-header{
    box-shadow: 0px 2px 5px 5px #ccc;
}