@(paginacionProyecto:PaginacionDTO,lstProyectos: List[Proyecto], formDiseno : Form[Diseno],url:String)
@import helper._
@templates.publico.mainPublico("Blackboard") {

<div class="page-content">

    <!-- page content wrapper -->
    <div class="page-content-wrap bg-img-1">

        <div class="col-md-12">
            <div class="login-container" style="width:90%;max-width:1700px; background: #eee;">
                <div class="login-block">
                    <div class="block block-transparent">
                        <div class="content controls npt">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="header-login">
                                        Proyectos
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contenedorProyectos">
                             @for(proyecto <- lstProyectos) {
                             <div class="col-xs-12 col-sm-6">
                                <div class="contenedorProyecto">
                                    <div class="headerProyecto">
                                        Proyecto: @proyecto.getTitulo
                                    </div>
                                    <table>
                                        <tr>
                                            <th style="width:40%;">
                                                Identificador:
                                            </th>
                                            <td>
                                                @proyecto.getId
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width:40%;">
                                                Estado:
                                            </th>
                                            <td>
                                                @proyecto.getEstado.getTitulo
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Fecha:
                                            </th>
                                            <td>
                                                @proyecto.getFechaPublicacionFormateada
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Descripción:
                                            </th>
                                            <td>
                                                @proyecto.getDescripcion
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Valor:
                                            </th>
                                            <td>
                                                @proyecto.getValor
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="contenedorDisenos">
                                        <table style="width:100%;text-align:left;" class="dataTable">
                                            <thead>
                                               <tr>
                                                    <th>
                                                        Fecha
                                                    </th>
                                                   <th>
                                                       Estado
                                                   </th>
                                                   <th>
                                                       Diseño
                                                   </th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                            @for(diseno <- proyecto.getDisenosImagen) {
                                                <tr>
                                                    <td>
                                                        @diseno.getFechaSubidaFormateada
                                                    </td>
                                                    <td>
                                                        @diseno.getEstado.getTitulo
                                                    </td>
                                                    <td>
                                                        <button class="detallarDiseno btn btn-primary btn-lg pull-right" title="Ver diseño">Ver diseño</button>
                                                        <input type="hidden" value="@diseno.getEncode"/>
                                                    </td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary btn-lg pull-right btn_upload_project">Subir Diseño</button>
                                        <input type="hidden" value="@proyecto.getId" >
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="footer footer-defaut tac" style="    overflow: auto;   background: #cdcdcd;   width: 100%;   padding: 10px;">
                            <div class="pull-left">
                                Registros: @paginacionProyecto.getRegistros
                            </div>
                            @if(paginacionProyecto.getPaginas>1){
                            <ul class="pagination pagination-sm pull-right" style="margin: 0px;">
                                @if((paginacionProyecto.getPaginaActual-1) > 1){
                                    <li><a>«</a></li>
                                }
                                @if(paginacionProyecto.getPaginaActual > 1){
                                    <li><a href="@routes.ProyectosController.consul_proy_emp(url,(paginacionProyecto.getPaginaActual-1))">@(paginacionProyecto.getPaginaActual-1)</a></li>
                                }

                                <li><a class="active" href="@routes.ProyectosController.consul_proy_emp(url,paginacionProyecto.getPaginaActual)">@paginacionProyecto.getPaginaActual</a></li>

                                @if(paginacionProyecto.getPaginaActual < paginacionProyecto.getPaginas){
                                    <li><a href="@routes.ProyectosController.consul_proy_emp(url,(paginacionProyecto.getPaginaActual+1))">@(paginacionProyecto.getPaginaActual+1)</a></li>
                                }
                                @if((paginacionProyecto.getPaginaActual+1) < paginacionProyecto.getPaginas){
                                  <li><a>»</a></li>
                                }
                            </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block block-drop-shadow">
    <div class="content list">
            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content" style="margin-top: 150px">
                    @form(action = routes.ProyectosController.upload(),'id -> "formDiseno", 'enctype -> "multipart/form-data") {
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cree un nuevo Diseño</h4>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="id_modal_project" value="@formDiseno.data.get("idProyecto")" name="idProyecto">

                                    <label for="pwd">Nombre:</label>
                                    <input maxlength="250" required="required" type="text" class="form-control" id="name" placeholder="Escribe tu nombre" value="@formDiseno.data.get("nombre")" name="nombre">

                                    <label for="pwd">Apellido:</label>
                                    <input maxlength="250" required="required" type="text" class="form-control" id="lastname" placeholder="Escribe tu apellido" value="@formDiseno.data.get("apellidos")" name="apellidos">

                                    <label for="pwd">Correo:</label>
                                    <input maxlength="250" required="required" type="email" class="form-control" id="email" placeholder="Danos tu correo" value="@formDiseno.data.get("email")" name="email">

                                    <label for="pwd">Precio:</label>
                                    <input maxlength="250" min="1" required="required" type="number" step="0,01" class="form-control" id="cost" placeholder="Que costo tiene tu diseño?" value="@formDiseno.data.get("precio")" name="precio">

                                    <label for="pwd">Diseño:</label>

                                    <input maxlength="250" required="required" type="file" name="picture" class="form-control" placeholder="Sube tu diseño?" accept=".jpg, .png, .jpeg">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" class="btn btn-default" value="Subir" ></input>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalImagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Preview Diseño</h4>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imgPreview" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready( function () {
            $( ".btn_upload_project" ).click(function(e) {
                e.preventDefault();
                var contenedor = this;
                var contenedorForm = contenedor.parentElement;
                var lstInput = contenedorForm.getElementsByTagName("input");
                var identifier = lstInput[0].value;
                $('#id_modal_project').val(identifier);
                $('#myModal').modal('show');

            });

                $('table.dataTable').dataTable( {
                    "order": [[ 0, "desc" ]],
                    "oLanguage": {
                        "sSearch": "Busqueda",
                        "sZeroRecords": "No se han encontrado registros coincidentes",
                        "sLengthMenu": '_MENU_',
                        "sEmptyTable": "No se han encontrado registros",
                        "sInfo": "Total de registros _TOTAL_ : en lista (_START_ al _END_)",
                        "sInfoEmpty": "No se han encontrado registros",
                        "oPaginate": {
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        }
                    },
                } );


        });
</script>

<script>
    $(document).ready( function () {
        $(".detallarDiseno").click(function(e) {
            e.preventDefault();
            var contenedor = this;
            var contenedorForm = contenedor.parentElement;
            var lstInput = contenedorForm.getElementsByTagName("input");
            var imagenCode = lstInput[0].value;

            $('#modalImagen').modal('show');
            $("#imgPreview").attr("src", imagenCode);
        });
    });
</script>
}
